/*RESET*/
body{
    font-family: 'Lato', sans-serif;
}


/*NAVBAR*/
.nav-item{
    display: inline-block;
    
}

.nav-link{
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 10px;

}

.nav-link:hover{
border-bottom: 1px solid #949494;
}

.cart-btn{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #fff;
}
.cart-btn:hover{
    transform: scale(1.1);
}

.fa-shopping-cart{
    color: #949494;
    margin-right: 10px;
}

.fa-facebook-f:hover{
    color: #0000AA;
}
.fa-youtube:hover{
    color: #FF0000
}
.fa-instagram:hover{
    color: purple;
}


/*Product Section*/

.img-prd{
    width: 62px;
    height: 200px;
}

.card{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    
}


.position-fixed{
    position: fixed;
    background-color: #fff;
}


.h-100{
    height: 100%;
}