<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==' crossorigin='anonymous'/>
    <link rel="shortcut icon" href="http://cdn.shopify.com/s/files/1/1128/8094/t/4/assets/logo.png?v=9579296146624285645" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/12bool.css">
    <link rel="stylesheet" href="./css/style.css">

    <title>Birdhouse Skate Shop</title>
</head>
<body>
    <!--HEADER-->
     <header class="position-fixed w-100 border-bottom">
      <div class="container">
        <div class="row d-flex tr align-i-center">
          <div class="col-3 p-2">
            <a href="index.html"><img src="https://cdn.shopify.com/s/files/1/1128/8094/t/4/assets/logo.png?v=9579296146624285645" alt="Logo" class="img-100"></a>
          </div>
          <div class="col-9 d-flex justify-end">
            <ul class="main-nav">
              <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Team</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Catalog</a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-youtube"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-instagram"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-user"></i></a></li>
              <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-search"></i></a></li>
              <button class="cart-btn"><i class="fas fa-shopping-cart"></i>CART</button>


            </ul>
          </div>
        </div>
      </div>
     </header>
      
    <!--MAIN-->
    <main>
    <!--JUMBOTRON-->

    <div class="container">
       <div class="row">
         <div class="col-12">
           <a href="#"><img src="https://cdn.shopify.com/s/files/1/1128/8094/t/4/assets/slideshow_1.jpg?v=15152424123952375923" alt="Jumbo" class="img-100"></a>
         </div>
        </div>
      <h2 class="mt-8">Completes</h2>
    </div>

      <!--COMPLETES SKATEBOARDS-->
    <div id="root">    
        <div class="container mt-8">
          <div class="row" id="onlyCompletes">
            <div class="col-3 card" v-for="complete in completesList">
              <div class="col-12">
                <img 
                  :src="complete.pic"
                  class="img-prd">
              </div>
              <div class="col-12">
                <h5 class="mt-2 tl">{{complete.name}}</h5>
                <h4 class="mt-1 tl">{{complete.price}}</h4>
              </div>
            </div>
          </div>
          <h2 class="mt-8">Decks</h2>
        </div>

        <!--DECKS SKATEBOARDS-->   
        <div class="container mt-8">
          <div class="row" id="onlyDeck">
              <div class="col-3 card" 
              v-for="deck in decksList">
                <div class="col-12">
                  <img 
                    :src="deck.pic" 
                    class="img-100">
                </div>
                <div class="col-12">
                  <h5 class="mt-2 tl">{{deck.name}}</h5>
                  <h4 class="mt-1 tl">{{deck.price}}</h4>
                </div>
              </div>
              <div class="col-3 bg-c-grey txt-white flex-grow br-5 opacity2 align-i-center justify-center flex-col">
                  <p><i class="fas fa-arrow-right tc txt-big"></i></p>
                  <h2 class="txt-white txt-big mt-2 tc">SEE OTHER DECKS</h2>
                

              </div>
          </div>
        </div>
    </div>    
      
    </main>

    <!--FOOTER-->
    <footer class="mt-2">

    </footer>


    <script src="./js/script.js"></script>

</body>
</html>