<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css' integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==' crossorigin='anonymous'/>
    <link rel="shortcut icon" href="http://cdn.shopify.com/s/files/1/1128/8094/t/4/assets/logo.png?v=9579296146624285645" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./css/12bool.css">
    <link rel="stylesheet" href="./css/style.css">

    <title>Birdhouse Skate Shop</title>
</head>
<body>
    <!--HEADER-->
     <header class="position-fixed w-100 border-bottom border-bottom-sm-none z-ind1">
      <div class="container">
        <div class="row d-flex tr align-i-center">
          <div class="col-3 p-2 d-none-sm">
            <a href="index.html"><img src="https://cdn.shopify.com/s/files/1/1128/8094/t/4/assets/logo.png?v=9579296146624285645" alt="Logo" class="img-100 "></a>
          </div>
          <div class="col-9 col-sm-12 py-sm-2 d-flex justify-end">
            <ul class="main-nav">
              <li class="nav-item"><a href="#decksTitle" class="nav-link">Decks</a></li>
              <li class="nav-item"><a href="#completesTitle" class="nav-link">Completes Skateboards</a></li>
              <li class="nav-item"><a href="#teamSection" class="nav-link">Team</a></li>
              <li class="nav-item d-none-sm"><button class="cart-btn"><i class="fas fa-shopping-cart"></i>CART</button></li>
              


            </ul>
          </div>
        </div>
      </div>
     </header>
      
    <!--MAIN-->
    <main>
    <!--JUMBOTRON-->

    <div class="container">
       <div class="row">
         <div class="col-12">
           <a href="#"><img src="https://cdn.shopify.com/s/files/1/1128/8094/t/4/assets/slideshow_1.jpg?v=15152424123952375923" alt="Jumbo" class="img-100"></a>
         </div>
        </div>
      <h2 class="mt-8" id="completesTitle">Completes</h2>
    </div>

      <!--COMPLETES SKATEBOARDS-->
    <div id="root">    
        <div class="container mt-8">
          <div class="row" id="onlyCompletes">
            <div class="col-4 col-sm-12 card" v-for="complete in completesList">
              <div class="col-12">
                <img 
                  :src="complete.pic"
                  class="img-prd">
              </div>
              <div class="col-12">
                <h5 class="mt-2 tl">{{complete.name}}</h5>
                <h4 class="mt-1 tl">{{complete.price}}</h4>
              </div>
            </div>
          </div>

<hr class="mt-4">
          <h2 class="mt-8" id="decksTitle">Decks</h2>
        </div>

        <!--DECKS SKATEBOARDS-->   
        <div class="container mt-8">
          <div class="row" id="onlyDeck">
              <div class="col-3 col-sm-12 card mt-2" 
                  v-for="deck in decksList">
                <div class="col">
                  <img 
                    :src="deck.pic" 
                    class="img-100">
                </div>
                <div class="col">
                  <h5 class="mt-2 tl">{{deck.name}}</h5>
                  <h4 class="mt-1 tl">{{deck.price}}</h4>
                </div>
              </div>
                <div class="col-3 col-sm-12">
                  <button type="button" id="otherDeck" class="bg-c-grey txt-white h-100 br-5 align-i-center justify-center flex-col py-2 btn-red-2 pointer">
                      <p><i class="fas fa-arrow-right tc txt-big"></i></p>
                      <h2 class="txt-white txt-big mt-2 tc">SEE OTHER DECKS</h2>
                  </button>
                    
              </a>
          </div>
        </div>
    </div>    
    <section id="teamSection">
      <div class="container">
<hr class="mt-4">

        <div class="row">
          <div class="col-12 mt-4">
            <h1>Team</h1>
          </div>

          <div class="col-3 mt-4 py-2"
          v-for="team in teamList">
            <div class="col">
              <a :href="team.pic"><img :src="team.pic" class="img-100 br-100"></a>
            </div>
          </div>

        </div>
      </div>
    </section>
    </main>

    <!--FOOTER-->
    <footer class="mt-8">
      <div class="container-fluid mt-2">
        <div class="row  d-f-none-sm">
          <div class="col border-top">
            <div class="container">
              <div class="row">
                <div class="col-6 col-sm-12 tc border-right py-2">
                  <hr>
                  <h3 class="py-2 fs-2 txt-red">Birdhouse Skateboarding</h3>
                  <hr>

                  <ul class="tl mt-2 list-style-none">
                    <li><a href="#" class="link-none txt-red">About Us</a></li>
                    <li><a href="#" class="link-none txt-red">Contact</a></li>
                    <li><a href="#" class="link-none txt-red">Search</a></li>
                    <li><a href="#" class="link-none txt-red">FAQ</a></li>
                    <li><a href="#" class="link-none txt-red">Privacy Policy</a></li>
                  </ul>
                  <hr class="mt-2">
                  <div class="d-flex justify-around mt-2">
                    <i class="fab fa-youtube pointer"></i>
                    <i class="fab fa-instagram pointer"></i>
                    <i class="fab fa-facebook-f pointer"></i>
                    <i class="fab fa-twitter pointer"></i>

                  </div>
                  
                </div>
                <div class="col-6 col-sm-12 tc py-2"> 
                  <hr>
                  <h3 class="py-2 fs-2 txt-red">News About Update</h3>
                  <hr>
                  <div class="tl mt-2 fs-2">
                    <p>Sign up to get the latest on sales, new releases and more …</p>
                    <input type="email" name="email" id="e-mail" class="mt-4 bar-src img-100 py-2" placeholder="Insert your email">
                    <div class="flex-grow">
                      <button class="btn img-100 mt-2 btn-height btn-red btn-r-1 pointer"> Sign Up</button>

                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="col tc bg-c-grey p-2"> &copy; BirdhouseSkateboarding</div>

              </div>
            </div>
            </div>
          </div>
          
      </div>
    </footer>


    <script src="./js/script.js"></script>

</body>
</html>